
.nomination__titles{
    text-align: center;
    margin: 1rem 0;
}

.profile__card {
    max-width: 1200px;
    margin: 1rem auto;
}

.profile__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.profile__img img {
    width: 200px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}


.profile__flex_box {
    background-color: #f5f5f5;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: rgba(199, 199, 199, 0.3) 0px 1px 2px 0px,
    rgba(199, 199, 199, 0.3) 0px 1px 3px 1px;
}


.profile__name{
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: .5rem 0;
}

.profile__links {
    
    padding: .8rem;
    border-radius: 3px;
    border: none;
    background: cornflowerblue;
    color: #000;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    font-family: 'Sen',sans-serif;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}